body,
html {
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #283149;
}
.container {
  min-height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.container.first {
  background-image: url("images/photo-1507065255811-f3b9fe968f84.jpg");
  padding-bottom: 0.1px;
}
h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
  margin: 0;
  padding-top: 5%;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.drum:hover {
  color: rgb(190, 14, 37);
  border-color: rgb(190, 14, 37);
}
.drum:active {
  color: red;
  border-color: red;
}
.active {
  color: red;
  border-color: red;
}

@media (max-width: 568px) {
  .drum {
    outline: none;
    border: 10px solid #404b69;
    font-size: 4rem;
    font-family: "Arvo", cursive;
    line-height: 1;
    font-weight: 900;
    color: #da0463;
    text-shadow: 3px 0 #dbedf3;
    border-radius: 15px;
    display: inline-block;
    width: 125px;
    height: 125px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  .drum:active {
    color: red;
    border-color: red;
  }
  .active {
    color: red;
    border-color: red;
  }
}
